@import "./src/styles/global.scss";

.faqContainer {
  @include flexRow(0px);
  justify-content: space-between;
  padding: 0px 160px;
}
.faqActive {
  padding: 32px;
  //   background-color: red;
  border: 1px solid $gray-200;
  border-radius: 16px;
  background-color: $gray-50;

  h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: $gray-900;
  }
  span {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: $gray-600;
  }
}
.btnFaq {
  @include flexRow(24px);
}
.faqList {
  @include flexColumn(4px);
}
.textContainer {
  @include flexRow(0px);
  justify-content: space-between;
  padding: 32px;
  border-bottom: 1px solid $gray-200;
  color: $gray-900;
}

.faqLeft {
  span {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: $blue-700;
  }
  h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: $gray-800;
    letter-spacing: -2%;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: $gray-500;
  }
}
