@import "./src/styles/global.scss";
.socialProofContainer {
  @include flexColumn(48px);
  justify-content: center;
  align-items: center;

  p {
    font-weight: 500;
    color: $gray-600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
}

.socialImageContainer {
  @include flexRow(69px);
}
