@import "./src/styles/global.scss";

.flexTestimonial {
  @include flexColumn(48px);

  p {
    font-weight: 500;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: -2%;
    color: $gray-900;
  }
}

.pictureGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 5vw);
  row-gap: 16px;
  column-gap: 16px;
}

.imageItem1 {
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: end;
  margin-right: -90px;
}

.imageItem2 {
  grid-column: 4;
  grid-row: 1;
  justify-self: end;
  margin-bottom: -44px;

  margin-right: -90px;
}

.imageItem3 {
  grid-column: 3;
  grid-row: 4/6;
}

.imageItem4 {
  grid-column: 4/5;
  grid-row: 4/6;
}

.imageItem5 {
  grid-row: 4/6;
  grid-column: 5;
}
